In [ ]:
## 1. Sort a Dictionary by Value

datas = {'a': 3, 'b': 1, 'c': 5, 'd': 2, 'j':8}

ascending = dict(sorted(datas.items(), key=lambda x: x[1]))
print("ascending:", ascending)

descending = dict(sorted(datas.items(), key=lambda x: x[1], reverse=True))
print("descending:", descending)

ascending: {'b': 1, 'd': 2, 'a': 3, 'c': 5, 'j': 8}
descending: {'j': 8, 'c': 5, 'a': 3, 'd': 2, 'b': 1}

In [9]:
## 2. Add a Key to a Dictionary

personal = {
    'name':'deku',
    'age':22,
    'nationality':'uzbek',
}

personal['job'] = 'IT'
print(personal)

{'name': 'deku', 'age': 22, 'nationality': 'uzbek', 'job': 'IT'}

In [ ]:
## 3. Concatenate Multiple Dictionaries

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

new_dict = {**dic1, **dic2, **dic3 }
print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
## 4. Generate a Dictionary with Squares

square = int(input('enter the number'))

kvadrat = {x:x*x for x in range(1,square+1)}

print(kvadrat)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
## 5. Dictionary of Squares (1 to 15)
squares = {x:x*x for x in range(1,16)}

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
## 6. Create a Set

my_set = {"apple", "banana", "cherry"}
print("My set:", my_set)

My set: {'cherry', 'banana', 'apple'}

In [20]:
## 7. Iterate Over a Set
tropic_fruits = {"apple", "banana", "cherry"}

for tropic in tropic_fruits:
    print(tropic)

cherry
banana
apple

In [21]:
## 3. Add Member(s) to a Set

players = {'dalot', 'ranaldo', 'bruno'}
players.add('felix')
print(players)

{'felix', 'dalot', 'ranaldo', 'bruno'}

In [22]:
## 4. Remove Item(s) from a Set

cars = {'malibu', 'tracker', 'kia5', 'gentra', 'cobalt'}
cars.remove('cobalt')
print(cars)

{'malibu', 'gentra', 'tracker', 'kia5'}

In [ ]:
## 5. Remove an Item if Present in the Set

characters = {'deku', 'naruto', 'xinata', 'saske', 'luffy'}

if 'deku' in characters:
    characters.remove('deku')
    print('deku deleted from the set')
else:
    print('there is no deku in the set')    

print('updated set:', characters)

deku deleted from the set
updated set: {'luffy', 'xinata', 'naruto', 'saske'}