In [1]:
## 1. Create and Access List Elements

fruits = ['apple', 'banana', 'strawberry', 'melon', 'peach']

third_fruit = fruits[2]
print(f'the third fruit is {third_fruit}')

the third fruit is strawberry

In [6]:
## 2. Concatenate Two Lists

first_ls = [1,2,3,4,5]
second_ls = [6,7,8,9,10]
first_ls.extend(second_ls)
print(first_ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
## 3. Extract Elements from a List

numbers = [1,2,3,4,5,6,7,8,9,10]

first_num = numbers[0]
middle_num = numbers[len(numbers)//2]
last_num = numbers[-1]

new_list = [first_num, middle_num, last_num]

print(new_list)

[1, 6, 10]

In [8]:
## 4. Convert List to Tuple

movies = ['Hobbit', 'the lord of the rings', 'Harry Potter', 'Game of thrones', 'Avangers']

movies_tuple = tuple(movies)
print(movies_tuple)

('Hobbit', 'the lord of the rings', 'Harry Potter', 'Game of thrones', 'Avangers')

In [11]:
## 5. Check Element in a List

countries = ['new york', 'london', 'parij', 'manchester', 'tashkent']

if 'parij' in countries: 
    print('parij in the list')
else:
    print('parij is not in the list')

parij in the list

In [12]:
## 6. Duplicate a List Without Using Loops

nums = [1,2,3]

duplicate_nums= nums*2
print(duplicate_nums)

[1, 2, 3, 1, 2, 3]

In [13]:
## 7. Swap First and Last Elements of a List

swap_list = [1,2,3,4,5]

swap_list[0],swap_list[-1] = swap_list[-1], swap_list[0]
print(swap_list)

[5, 2, 3, 4, 1]

In [2]:
## 8. Slice a Tuple

num_tuple = (1,2,3,4,5,6,7,8,9,10)

my_new_tuple = num_tuple[2:7]
print(my_new_tuple)

(3, 4, 5, 6, 7)

In [24]:
## 9. Count Occurrences in a List

colors = ['blue', 'red', 'green', 'blue', 'orange','black','white']

colors_count = 0

for color_blue in colors:
    if color_blue == 'blue':
        colors_count +=1

if colors_count > 0:
    print(f'the total count of blue color is {colors_count}')
else: print('the is no blue color in the list')

the total count of blue color is 2

In [27]:
## 10. Find the Index of an Element in a Tuple

animals = ('cat', 'lion', 'tiger', 'elephent', 'monkey')

animal_index = animals.index('lion')
print(f'the index of lion in the list is {animal_index}')

the index of lion in the list is 1

In [30]:
## 11. Merge Two Tuples

first_tuple = (1,2,3,4,5)
second_tuple = (6,7,8,9,10)

commmon_tuple = first_tuple + second_tuple
print(commmon_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [34]:
## 12.Find the Length of a List and Tuple

my_list = (1,2,3,5,6,8)
my_tuple = [8,78,64,5,787,64,564,654]

list_length = len(my_list)
my_tuple = len(my_tuple)

print(f'the length of list is {list_length} and lenght of tuple is {my_tuple}')

the length of list is 6 and lenght of tuple is 8

In [3]:
## 13. Convert Tuple to List

tuple_numbers = (1,2,3,4,5)

new_tuple_nums = list(tuple_numbers)
print(new_tuple_nums)

[1, 2, 3, 4, 5]

In [37]:
## 14. Find Maximum and Minimum in a Tuple

tuple_values = (45,4,64,97,2,88,48,6)

tuple_max = max(tuple_values)
tuple_min = min(tuple_values)
print(f'max value is {tuple_max} and min is {tuple_min}')

max value is 97 and min is 2

In [39]:
## 15. Reverse a Tuple

tuple_words = ('hello', 'bye', 'nice', 'well', 'bad')

reverse_words = tuple_words[::-1]

print(reverse_words)

('bad', 'well', 'nice', 'bye', 'hello')